.git
.gitignore

third_party/.git
third_party/venv
third_party/venv_clean
third_party/gradio_cache
third_party/.cache
third_party/outputs
third_party/logs
third_party/checkpoints

**/__pycache__
**/*.pyc
**/*.pyo

*.pth
*.ckpt
*.bin
*.safetensors

output/
models/